.box {
  height: auto;
  overflow: hidden;
  // border: 1px solid blue;
  overflow-y: scroll;
  display: none;
  background-color: white;
  width: 150px;

}
.theboxmodel1 {
  background-color: lightgrey;
  width: 50%;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
}
.theboxmodel2 {
  width: 350px;
  padding: 10px;
  border: 5px solid grey;
  margin: 0;
}
.show-menu {
  display: none;
  &:checked + ul {
    display: block;
  }
}

a {
  // color: white;
}


input[type="radio"] {
  display: none;
  &:checked + .menu-vertical {
    display: inherit;
  }
}
.menu-vertical {
  display: none;
}







