
.theboxmodel1 {
  background-color: lightgrey;
  width: 50%;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
}
.theboxmodel2 {
  width: 350px;
  padding: 10px;
  border: 5px solid grey;
  margin: 0;
}
.static1 {
  position: static;
  border: 3px solid #73ad21;
  max-width: 450px;
  text-align: center;
}
.relative1 {
  position: relative;
  left: 30px;
  border: 3px solid #73ad21;
  max-width: 450px;
  text-align: center;
}
.fixed1{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 450px;
  border: 3px solid #73ad21;
}
.relative2 {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid #73ad21;
}
.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73ad21;
}
.zindex1{
  position: relative;
  width: 1000px;
  height: 200px;
}

.zindex2 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    border: 1px solid red;
}
#paragraphzindex {
  color: lightblue;
  position: absolute;
  bottom: 0;
}
.clip1 {
  position: relative;
  width: 1000px;
  height: 200px;
}
.clip2 {
  position: absolute;
  clip: rect(0px,60px,200px,0px);
}
.positioningtext {
  position: relative;
}
#positionpic {
  width: 100%;
  height: auto;
  opacity: 0.6;
}
.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 38px;
}
.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 38px;
}
.centered {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 38px;
}
.bottomleft {
  position: absolute;
  bottom: 18px;
  left: 16px;
  font-size: 38px;
}
.bottomright {
  position: absolute;
  bottom: 18px;
  right: 16px;
  font-size: 30px;
}







