#override li {
  display: inline;
  padding: 2px;
  text-decoration: underline;
}

.imgbox {
  float: left;
  text-align: center;
  width: 120px;
  border: 1px solid grey;
  margin: 4px;
  padding: 6px;
}














