// Normalize Styles
@import 'node_modules/normalize.css/normalize';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'box';
// @import 'node_modules/bootstrap/scss/bootstrap';


// Import Modules
// @import '../_modules/link/link';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: helvetice, arial; 
}
a {
  text-decoration: none;
  color: red;
}

h1, h2, h3 {
  margin: 0;
}

.container {
  // width: 800px;
  // background-color: white;
  // margin-left: auto;
  // margin-right: auto;
}

.header {
  //background-color: #66ccff;
  text-align: center;
  //color: white;
  //padding: 10px;

}
.background {
  background: url(/images/UNADJUSTEDNONRAW_thumb_5fb.jpg) repeat;
  border: 2px solid black;
}
.transbox {
  //margin: 10px;
  background-color: #FAF0E6;
  border: 1px solid black;
  opacity: 0.3;
  filter: alpha(opacity=60);
}
.transbox h1 {
  margin: 3%;
  font-weight: bold;
  color: black;
  font-size: 80px;
}
.content {
  padding: 10px;
  border-style: 1px solid black;
}
.menu 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
.menu
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;

}
.menu
  li a:hover{
    background-color: #555;
    color: white;
  }
.main {
  // float: right;
  // width: 600px;

}

.footer {
  clear: both;
  padding: 10px;
  background-color: #999999;
  color: white;
  text-align: right;
}
.responsivetable
    table{
      border-collapse: collapse;
      width: 100%;
}
    th {
      text-align: left;
      background-color: black;
      color:
      white;
      //padding: 2px;
}
    //td {
      //text-align: left;
      //padding: 45px;
//}
    //tr:nth-child(even){
      //background-color: white;
   // }

