// Normalize Styles
@import 'node_modules/normalize.css/normalize';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'box';
@import 'csstext';
@import 'footer';
@import 'header';
@import 'menu';
@import 'tabelceva';

// @import 'node_modules/bootstrap/scss/bootstrap';


// Import Modules
// @import '../_modules/link/link';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif; 
}
//a {
  //text-decoration: none;
  //color: red;
//}

h1, h2, h3 {
  margin: 0;
}
h1 {
  text-align: center;
  }

.container {
  // width: 800px;
  // background-color: white;
  // margin-left: auto;
  // margin-right: auto;
}

.content {
  padding: 10px;
  border-style: 1px solid black;
}
.responsivetable
    table{
      border-collapse: collapse;
      width: 100%;
}
 .responsivetable
    th {
      text-align: left;
      background-color: black;
      color:
      white;
      //padding: 2px;
}
    //td {
      //text-align: left;
      //padding: 45px;
//}
    //tr:nth-child(even){
      //background-color: white;
   // }
.tabelceva
  table {
    border-collapse: collapse;
    width: 100%;
  }

.tabelceva
th, td {
  text-align: left;
  padding: 8px;
}

.tabelceva
  tr:nth-child(even){background-color: #f2f2f2}


.tabelceva
  th {
    background-color: #4CAF50;
    color: white;
  }
  .header {
  //background-color: #66ccff;
  text-align: center;
  //position: fixed;
  //top: 0;
  //color: white;
  //padding: 10px;

}
.background {
  background: url(/images/UNADJUSTEDNONRAW_thumb_5fb.jpg);
  border: 2px solid black;
}
.transbox {
  //margin: 10px;
  background-color: #FAF0E6;
  border: 1px solid black;
  opacity: 0.3;
  filter: alpha(opacity=60);
}
.transbox h1 {
  margin: 2%;
  font-weight: bold;
  color: black;
  font-size: 80px;
}
.menu 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
.menu
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;

}
.menu
  li a:hover{
    background-color: #555;
    color: white;
  }
//.main {
  // float: right;
  // width: 600px;

//}

.yeogy {
  background-image: url("yeogurt-swirl.png");
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}
.footer {
  clear: both;
  padding: 10px;
  background-color: #999999;
  color: white;
  text-align: right;
}
.outset {
  border-style: outset;
  border-width: 2px 10px 4px 20px;
}

.country
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
.country
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.country
  input[type=submit]:hover {
    background-color: #45a049;
  }
.country {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.link1
  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
  }
.link1
  a:hover, a:active {
    background-color: red;
  }
a.hlink1:link { color:default;}
a.hlink1:visited {color:#0000ff;}
a.hlink1:hover { color:#ffcc00}

a.hlink2:link { color:default;}
a.hlink2:visited {color:#0000ff;}
a.hlink2:hover { font-size: 150%;}

a.hlink3:link { color:default;}
a.hlink3:visited {color:#0000ff;}
a.hlink3:hover {background-color: #66ff66;}

a.hlink4:link { color:default;}
a.hlink4:visited {color:#0000ff;}
a.hlink4:hover {font-family: monospace;}

a.hlink5:link { color:default;text-decoration: none;}
a.hlink5:visited {color:#0000ff;text-decoration: none;}
a.hlink5:hover {text-decoration: underline;}


  a.borderlink:link, a.borderlink:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a.borderlink:hover, a.borderlink:active {
    background-color: green;
    color: white;
  }

ol.oslist {
  background-color: #ff9999;
  padding: 20px;
}
ol.oslist li {
  background-color: #ffe5e5;
  padding: 5px;
  margin-left: 35px; 
}
ul.uslist {
  background-color: #3399ff;
  padding: 20px;
}

ul.uslist li {
  background-color: #cce5ff;
  margin: 5px;
}

table.borders {
  border:1px solid black;
}

.borders 
  th {
  border:1px solid black;
}
.borders
  td {
  border:1px solid black;
}




