.menu
  ul
    li
      a.selected(href="/") Home
    li 
      a(href="contact.html") Contact
    li
      a(href="about.html") About
  ul.box 
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
