.menu
  ul
    li
      a.selected.btn.btn-danger(href="/") Home
    li 
      a.btn.btn-danger(href="contact.html") Contact
    li
      a.btn.btn-danger(href="about.html") About
    li
      a.btn.btn-danger(href="ceva.html") ceva
  ul.box 
    li
      a(href="boxmodel.html") BoxModel
    li
      a(href="outline.html") Outline
    li
      a(href="csstext.html") CssText
    li
      a(href="cssfonts.html") CssFonts
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
