
h1 #{site.data.menu[1].children[2].text}
nav.navbar.navbar-default
  ul.navbar-nav.nav
    each label in site.data.menu
      li.nav-item
        label.nav-link(for="id-#{label.label}") #{label.label}
