.menu
  ul
    li
      a.selected.btn.btn-danger(href="/") Home
    li 
      a.btn.btn-danger(href="contact.html") Contact
    li
      a.btn.btn-danger(href="about.html") About
    li
      a.btn.btn-danger(href="ceva.html") ceva
  ul.box 
    li
      a(href="boxmodel.html") BoxModel
    li
      a(href="outline.html") Outline
    li
      a(href="csstext.html") CssText
    li
      a(href="cssfonts.html") CssFonts
    li
      a(href="cssicons.html") CssIcons
    li
      a(href="csslinks.html") CssLinks
    li
      a(href="csslists.html") CssLists
    li
      a(href="tables.html") Tables!!!
    li
      a(href="cssdisplay.html") CssDisplay
    li
      a(href="max-width.html") Max-Width
    li
      a(href="css-positions.html") CSS-Positions
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
    li kjhakjhkjh
