.menu
  ul
    li
      label.selected(for="section-1", href="/") CSS
      input.show-menu(id="section-1", type="radio", name="navbar")
      ul.box 
        li
          a(href="boxmodel.html") BoxModel
        li
          a(href="outline.html") Outline
        liz
          a(href="csstext.html") CssText
        li
          a(href="cssfonts.html") CssFonts
        li
          a(href="cssicons.html") CssIcons
        li
          a(href="csslinks.html") CssLinks
        li
          a(href="csslists.html") CssLists
        li
          a(href="tables.html") Tables!!!
        li
          a(href="cssdisplay.html") CssDisplay
        li
          a(href="max-width.html") Max-Width
        li
          a(href="overflow.html") Overflow
        li
          a(href="float.html") Float
        li
          a(href="inline-block.html") Inline-Block
        li
          a(href="align.html") Align
        li
          a(href="pseudo-class.html") Pseudo-class
    li 
      label(for="section-2") Bootstrap
      input.show-menu(id="section-2", type="radio", name="navbar")
      ul.box 
        li
          a(href="boxmodel.html") BoxModel1
        li
          a(href="outline.html") Outline1
        li
          a(href="csstext.html") CssText1
        li
          a(href="cssfonts.html") CssFonts1
        li
          a(href="cssicons.html") CssIcons1
        li
          a(href="csslinks.html") CssLinks1
        li
          a(href="csslists.html") CssLists1
        li
          a(href="tables.html") Tables!!!1
        li
          a(href="cssdisplay.html") CssDisplay1
        li
          a(href="max-width.html") Max-Width1
        li
          a(href="css-positions.html") CSS-P1ositions
    li
      label(for="section-3") Java Script
      input.show-menu(id="section-3", type="radio", name="navbar")
      ul.box 
        li
          a(href="boxmodel.html") BoxModel3
        li
          a(href="outline.html") Outline1
        li
          a(href="csstext.html") CssText1
        li
          a(href="cssfonts.html") CssFonts1
        li
          a(href="cssicons.html") CssIcons1
        li
          a(href="csslinks.html") CssLinks1
        li
          a(href="csslists.html") CssLists1
        li
          a(href="tables.html") Tables!!!1
        li
          a(href="cssdisplay.html") CssDisplay1
        li
          a(href="max-width.html") Max-Width1
        li
          a(href="css-positions.html") CSS-P1ositions
        li
          a(href="overflow.html") CSS-P1ositions
    li
      label(for="section-4", href="ceva.html") ceva
      input.show-menu(id="section-4", type="radio", name="navbar")
      ul.box 
        li
          a(href="boxmodel.html") BoxModel4
        li
          a(href="outline.html") Outline1
        li
          a(href="csstext.html") CssText1
        li
          a(href="cssfonts.html") CssFonts1
        li
          a(href="cssicons.html") CssIcons1
        li
          a(href="csslinks.html") CssLinks1
        li
          a(href="csslists.html") CssLists1
        li
          a(href="tables.html") Tables!!!1
        li
          a(href="cssdisplay.html") CssDisplay1
        li
          a(href="max-width.html") Max-Width1
        li
          a(href="overflow.html") CSS-P1ositions
