.responsivetable(style="overflow-x:auto;")
  table
    //tr
      th(img="/images/UNADJUSTEDNONRAW_thumb_5fb.jpg" alt="poza" style="width 20px" height="20px" )
      th last name
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
      th points 
    tr
      td
        img(src="/images/IMG_0291.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0296.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0312.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0313.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0315.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0335.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0338.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0347.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0348.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0349.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0350.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0351.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0371.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0385.JPG" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0387.JPG" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0414.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0420.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0449.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0460.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0518.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0522.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0535.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0568.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IIMG_0572.JPG" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0625.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/10497904_759419024128488_2871049412587109196_o.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/11001677_832902713446785_3652544648692340575_o.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/11034892_832902770113446_7746836801441167438_o.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/11045399_832903440113379_3054803751716607902_o.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/11096482_832903596780030_5079477538171569996_o.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/11134069_832903336780056_2342695798766981252_o.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/11154702_832903503446706_6754923805891161185_o.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/11155105_832902643446792_1262301977018843673_o.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/11155179_832902683446788_9038543388298386247_o.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0625.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0625.jpg" alt="poza" style="width:150px;height:150px;" )
      td
        img(src="/images/IMG_0625.jpg" alt="poza" style="width:150px;height:150px;" )
