extends _layouts/base

include _modules/link/link

block content
  h1(style="text-align:center") Demonstrating the Box Model
  hr

  p The CSS box model is essentially a box that wraps around every HTML element. it cosists of: borders, paddings, margins and actual cotent.
  p The CSS box model is essentially a box that wraps around every HTML element. it cosists of: borders, paddings, margins and actual cotent.
  p The CSS box model is essentially a box that wraps around every HTML element. it cosists of: borders, paddings, margins and actual cotent.


  h1 Width and Height of an Element
  h2 Calculate the total width:

  img(src="/images/UNADJUSTEDNONRAW_thumb_5fb.jpg" width="350" height="263" alt="poza")
  div.theboxmodel2 The picture above is 350px wide. The total width of this element id also 350px 