extends _layouts/base

include _modules/link/link

block content
  table.tabelceva(style="width:100%")
    tr
      th first name
      th last name
      th savings
    tr
      td peter
      td Griffin
      td £100.00
    tr
      td 
        b joe
      td Swanson
      td £ 300
    tr
      td Clevendland
      td Brown
      td 250
      br
      br

  hr
  div.country
    from(action="action_page.php")
      label(for="fname") First Name
      input(type="text" id="fname" name="firstname")

      label(for="lname") Last Name
      input(type="text" id="lname" name="lastname")

      label(for="country") State
      select(id="country" name="country")
        option(value="australia") Australia
        option(value="canada") Canada
        option(value="usa") USA
      input(type="submit" valuea="submit")

