
extends _layouts/base

include _modules/link/link

block content
  h1 CSS-layout - The position Property
  hr
  h2 position:static
  br
  p An element with 
    b position:static; 
    |is not positioned in any special way; it is always positioned according to the normal flow of the page
  .static1 This div element has position:static;
  hr
  h2 position:relative;
  br
  p An element with position:relative; is positioned relative to its normal position:

  .relative1 This div element has position:relative;
  hr
  h2 position:fixed;
  p An element with 
    b position: fixed;
    | is positioned relative to the viewport, which means it always stays in the same place even if the page is scrolled;
  .fixed1 This div element has position: fixed;
  hr
  h2 position:absolute
  p An element with 
    b position: absolute;
    | is relative to the neast positioned ancstor (instead of positioned relative to the viewport, like fixed)
  .relative2 This div element has position: relative;
    .absolute This div element has position: absolute;
  hr
  .zindex1  
    h2(style="text-align:left;") z-index of -1
    br
    h3(style="color:lightblue") This is a heading
    .zindex2
      img(src="/images/UNADJUSTEDNONRAW_thumb_5fb.jpg" width="140" height="140")
    p(id="paragraphzindex" ) Because the image has a z-index of -1, it will be placed behind the text.
  hr
  .clip1  
    h2(style="background-color:red") clip: rect(0px; 60px; 200px; 0;)
    .clip2
      img(src="/images/UNADJUSTEDNONRAW_thumb_5fb.jpg" width="140" height="140")
  hr
  h2(style="text-transform:capitalize") positioning text in an image:
  .positioningtext
    img(src="/images/UNADJUSTEDNONRAW_thumb_5fb.jpg" width="1000" height="700" id="positionpic")
    .topleft Top Left
    .topright Top Right
    .centered Centered
    .bottomleft Bottom Left
    .bottomright Bottom Right




























