extends _layouts/base

include _modules/link/link

block content
  h1(style="text-transform:capitalize") css icons
  br
  hr
  h2(style="text-transform:capitalize") font awsome icons
  br
  i(class="fa fa-cloud")
  i(class="fa fa-heart")
  i(class="fa fa-car")
  i(class="fa fa-file")
  i(class="fa fa-bars")
  hr
  h2(style="text-transform:capitalize") bootstrap icons
  br
  p Some Bootstrap icons:
  i(class="glyphicon glyphicon-cloud")
  i(class="glyphicon glyphicon-remove")
  i(class="glyphicon glyphicon-user")
  i(class="glyphicon glyphicon-envelope")
  i(class="glyphicon glyphicon-thumbs-up")
  br
  p Style Bootstrap icons (size and color)
  i(class="glyphicon-cloud" style="font-size:24px;")
  i(class="glyphicon-cloud" style="font-size:36px;")
  i(class="glyphicon-cloud" style="font-size:48px;")
  i(class="glyphicon-cloud" style="font-size:60px;color:lightblue")

  hr
  h2(style="text-transform:capitalize") google icons
  br
  p Some Google icons:
  i(class="material-icons") cloud
  i(class="material-icons") favorite
  i(class="material-icons") attachment
  i(class="material-icons") computer
  i(class="material-icons") traffic
  

















