extends _layouts/base

include _modules/link/link

block content
  h1.bravo CSS opscity / tansparancy
  hr
  hr2 Image Transparancy
  p The opacity property specities the transparancy of an element. The lower the value, the more transparent:
  img.op1(src="/images/UyaRaJ26S3C0YCmPrPxcKQ_thumb_135.jpg" alt="poza" width="650" heigth="550")
  p Opacity 0.2
  img.op2(src="/images/UyaRaJ26S3C0YCmPrPxcKQ_thumb_135.jpg" alt="poza" width="650" heigth="550")
  p Opacity 0.5
  img(src="/images/UyaRaJ26S3C0YCmPrPxcKQ_thumb_135.jpg" alt="poza" width="650" heigth="550")
  p Opacity 1 (default)
  hr
