extends _layouts/base

include _modules/link/link

block content
  h1 Outline Style
  br
  p The outline-style property can have one of the following values:
  br
  h2 Example:
  br

  p.dotted A dotted outline
  p.dashed A dashed outline
  p.solid A solid outline
  p.double A double outline
  p.groove A groove outline
  p.ridge A rdige outline
  p.inset An inset outline
  p.outset An outset outline
  hr
  h2 The outline-color Property
  br

  p.color This is an exapmle for the outline-color property
  hr
  h2 The outline-width Property
  br
  p.width1 This has the thick value for the outline-width property
  p.width2 Thi one has 3px for the outline-width property
